/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 95%;
    margin: auto;
    padding-top: 20px;
}

/* PRODUCTS */
.products {
    width: 85%;
    margin: auto;
    text-align: center;
}

/* IMAGES */
img {
    width: 100%;
}

.image:hover .img-product-top {
    display: none;
}

.img-product-under {
    display: none;
}

.image:hover .img-product-under {
    display: inline-block;
}

.image {
    width: 32%;
    height: 560px;
    position: relative;
    display: inline-block;
}

/* OBJECTS ON IMAGE */
.heart {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3%;
    right: 0;
    font-size: 35px;
    line-height: 40px;
}

.discount {
    background-color: #eb0037;
    color: white;
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 3%;
    left: 0;
    font-size: 12px;
    line-height: 20px;
}

.sustainable {
    background-color: #00875a;
    color: white;
    width: 70px;
    height: 20px;
    position: absolute;
    bottom: 3%;
    left: 33px;
    font-size: 12px;
    line-height: 20px;
}

.image:last-child .sustainable {
    left: 0;
}

/* DESCRIPTIONS PRODUCTS */
.caption {
    display: inline-block;
    text-align: left;
    padding-right: 180px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.brand {
    font-size: small;
    font-weight: lighter;
}

.item {
    font-size: medium;
    font-weight: bolder;
    width: 300px;
}

/* PRICE */
.real-price {
    font-size: small;
}

.special-price {
    color: red;
}
